.admin-facility-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 1rem 1rem 1rem;

  // .ant-table-row {
  //   cursor: pointer;
  // }
}

.admin-facility-box {
  background-color: white;
  width: 100%;
  border-radius: 0.5rem;
}

.admin-facility-search {
  display: flex;
  margin: 1rem;

  .ant-input-affix-wrapper {
    height: 2.5rem;
  }

  .ant-input-search-button {
    height: 2.5rem;
  }

  .ant-btn {
    height: 2.5rem;
  }
}

.admin-facility-add-modal {
  .add-modal-row {
    margin: 0.5rem 0;
  }

  .add-modal-service-province {
    display: flex;
    justify-content: space-between;
  }

  .add-modal-label {
    margin-bottom: 0.25rem;
  }
}

#error-message-add-facility {
  display: none;
  color: #ff4d4f;
}

#error-message-add-facility.error-message-add-facility-block {
  display: block;
}