.specialist-container {
  display: flex;
  justify-content: center;
  height: 100%;

  .booking-info-row {
    display: flex;
  }

  .booking-info-icon {
    width: 1rem;
    min-width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .booking-info-content {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
}

.specialist-main {
  margin-top: 10rem;
  margin-left: 2rem;
}

.specialist {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.specialist:hover {
  color: blue;
}

.specialist-hr {
  background-color: #ccc;
  height: 1px;
  width: 100%;
  margin: 0.5rem 0;
}

.specialist-button-box {
  margin: 1rem 0;
}

.specialist-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 1rem;
}