.specialist-container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 5%;

  .booking-info-row {
    display: flex;
  }

  .booking-info-icon {
    width: 1rem;
    min-width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .booking-info-content {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
}

.info-appointment {
  margin-top: 10rem;
  width: 18rem;
}

.specialist-main {
  margin-top: 10rem;
  margin-left: 2rem;
}

.specialist-card {
  width: 45rem;
}

.specialist {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.specialist:hover {
  color: blue;
}

.specialist-hr {
  background-color: #ccc;
  height: 1px;
  width: 100%;
  margin: 0.5rem 0;
}

.specialist-button-box {
  margin: 1rem 0;
}

.specialist-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .specialist-container {
    flex-direction: column;
    justify-content: start;
  }

  .info-appointment {
    margin-top: 5rem;
    width: 100%;
  }

  .specialist-main {
    margin: 1rem 0;
    width: 100%;
  }

  .specialist-card {
    width: 100%;
  }
}
