.datetime-container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 5%;

  .info-appointment {
    margin-top: 5rem;
  }

  .booking-info-row {
    display: flex;
  }

  .booking-info-icon {
    width: 1rem;
    min-width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .booking-info-content {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
}

.datetime-main {
  margin-top: 5rem;
  margin-left: 2rem;
}

.datetime-card {
  width: 45rem;
}

.session {
  margin-top: 1rem;
}

.session-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.time-booking-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.time-booking-button {
  margin-right: 1rem;
  font-size: 1rem;
  height: 2.2rem;
  border-color: transparent;
}

.datetime-button-box {
  margin: 1rem 0;
}

.datetime-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .datetime-container {
    flex-direction: column;
    justify-content: start;
  }

  .datetime-main {
    margin: 1rem 0;
    width: 100%;
  }

  .datetime-card {
    width: 100%;
  }

  .time-booking-button {
    margin: 0.8rem 0.4rem 0 0;
  }
}
