.appointment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}

.appointment-list {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.appointment-card {
  .ant-card-body {
    padding: 1rem;
  }
}

.appointment {
  display: flex;
}

.appointment-img {
  display: flex;
  align-items: center;
}

.appointment-content {
  overflow: hidden;
}

.appointment-name {
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appointment-location {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appointment-datetime {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appointment-button-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;

  .ant-btn {
    font-size: 1rem;
    height: 2.2rem;
    border-radius: 1rem;
    width: 30%;
    min-width: 6rem;
  }
}

.appointment-info-modal {
  .ant-modal-title {
    font-size: 1.2rem;
  }

  .appointment-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.75rem 0;
  }
}
