.appointment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 10% 1rem;
}

.appointment-box {
  background-color: white;
  width: 100%;
  border-radius: 0.5rem;
}

.appointment-tab-list {
  display: flex;

  .tab-active {
    border-bottom: 2px solid #1677ff;
  }
}

.appointment-tab {
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem 0;
}

.appointment-list {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.no-appointment {
  display: flex;
  width: 100%;
  justify-content: center;
}

.appointment-card {
  width: 46%;
  border: 1px solid #ccc;
  margin: 0 1rem;

  .ant-card-body {
    padding: 1rem;
  }
}

.appointment-card-came {
  border-color: #27fa14;
}

.appointment-card-not-come {
  border-color: #ff4d4f;
}

.appointment {
  display: flex;
}

.appointment-img {
  display: flex;
  align-items: center;
}

.appointment-content {
  overflow: hidden;
}

.appointment-name {
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appointment-location {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appointment-datetime {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appointment-button-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;

  .ant-btn {
    font-size: 1rem;
    height: 2.2rem;
    border-radius: 1rem;
    // width: 30%;
    min-width: 6rem;
  }
}

.appointment-info-modal {
  .ant-modal-title {
    font-size: 1.2rem;
  }

  .appointment-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.75rem 0;
  }
}

@media (max-width: 1024px) {
  .appointment-container {
    padding: 4.5rem 5%;
  }

  .appointment-list {
    display: block;
  }

  .appointment-card {
    width: 92%;
    margin: 0 4%;
  }
}
