.facility-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 15%;
}

.facility-search {
  width: 100%;
  display: flex;
  margin-top: 10rem;

  .ant-input-affix-wrapper {
    height: 2.5rem;
  }

  .ant-input-search-button {
    height: 2.5rem;
  }
}

.facility-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.facility-content {
  .ant-avatar {
    width: 3rem;
    height: 3rem;
  }

  .ant-card-meta-title {
    font-size: 1.2rem;
  }

  .ant-card-meta-description {
    font-size: 1rem;
    height: 3.5rem;
  }
}

.facility-button-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
