body {
  margin: 0;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(28, 160, 191, 1) 0%, rgba(0, 254, 255, 1) 100%);
  background-attachment: fixed;
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;
}
